
*{  padding :0px;
    margin: 0px;
    box-sizing: border-box;
    }

a{  color:inherit;
    text-decoration: inherit;
    }

    body{
        background-color: black;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .header-main{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: normal;
            font-size: 50px;
            color: white;
            padding-top: 20px;
            }

            .firstlink{
                color: aquamarine;
                font-size: 18px;
                padding-top: 35px;
                }
                .firstlink:hover{
                    /* text-decoration: underline; */
                    font-size: 18.5px;
                    transition: 0.3s;
                    }
